body {
  font-family: "Roboto", sans-serif;
  background-color: #a4dad2;
  line-height: 1.9;
  color: #000000;
  position: relative; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
  color: #000;
  padding: 2px;}
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

.content {
  padding: 2rem 0; }

.heading {
  font-size: 2.5rem;
  font-weight: 900; }

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000;
  font-size: 13px; }

.btn, .form-control, .custom-select {
  height: 45px;
  border-radius: 5; }

.custom-select {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0; }
  .custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.contact-wrap {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff; }
  .contact-wrap .col-form-label {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 0; }
  .contact-wrap .form, .contact-wrap .contact-info {
    padding: 40px; }
  .contact-wrap .contact-info {
    color: rgba(255, 255, 255, 0.5); }
    .contact-wrap .contact-info ul li {
      margin-bottom: 15px;
      color: rgba(255, 255, 255, 0.5); }
      .contact-wrap .contact-info ul li .wrap-icon {
        font-size: 20px;
        color: #fff;
        margin-top: 5px; }
  .contact-wrap .form {
    background: #fff; }
    .contact-wrap .form h3 {
      color: #000;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 30px; }
  .contact-wrap .contact-info {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    .contact-wrap .contact-info a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    @media (max-width: 1199.98px) {
      .contact-wrap .contact-info {
        height: 400px !important; } }
    .contact-wrap .contact-info h3 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 30px; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #a4dad2;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }

.lista{
  font: black;
  align-items: center;
  justify-content: center;
}

.lista a{
  align-self: center;
}

.salir-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust the height as needed */
}

.container-login100 {
  width: 100%;  
  min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background: #ffffff;
  border-radius: 10px;
  border-color: #569099;
  margin-bottom: 2px;
  display: flex;
   
}

.title_alta{
  width: 100%;
  text-align: center;
  font: #ffffff;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.container-login2 {
  width: 100%;  
  min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  border-color: #569099;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  align-self: center;
  align-items: center;
}

th, td {
  border: 1px solid #569099;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #569099;
  color: #ffffff;
}

.img_principal img {
  width: 100%; /* Establecer el ancho al 100% del contenedor */
  height: auto; /* Mantener la proporción original de la imagen */
  display: inline-block; 
}

.img_principal {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; /* Centrar el contenido */
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

/* Ajustes de estilo adicionales según sea necesario */
.btn-group .btn {
  flex: 1;
}

.volver{
  color: #569099;
}

.connection_buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
  align-self: center;
  align-items: center;
}
